@font-face {
  font-family: 'Metric';
  src: url('https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Regular.woff')
    format('woff');
}
@font-face {
  font-family: 'Metric';
  src: url('https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Bold.woff')
    format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Metric';
  src: url('https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Semibold.woff')
    format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Metric';
  src: url('https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Light.woff')
    format('woff');
  font-weight: 100;
}

html {
  --light-accent-1: teal;
  --light-accent-2: darkseagreen;
  --light-accent-3: palevioletred;
  --dark-accent-1: papayawhip;
  --dark-accent-2: lightgoldenrodyellow;
  --font-stack: 'Metric', Arial, sans-serif;
  --fontFamily: 'Metric';
  --fontUrl: url('https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Regular.woff')
    format('woff');
  -webkit-font-smoothing: antialiased;
}
