/* This could import from a CDN? 
 * Ideally, we could import from node_modules here... 
 */
@import url('../../../packages/core/base.css');

/* Reset browser default CSS */
body {
  padding: 0;
  margin: 0;
}

/* custom theme color example */
html {
  --light-accent-1: darkgoldenrod;
}
